version: '3.4'

services:
  api:
    image: ${DOCKER_REGISTRY-}fletchling-api
    build:
      context: ./Api
      dockerfile: ./Fletchling.Api/Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:80
      - ASPNETCORE_ENVIRONMENT=Production
    expose:
      - 80
    networks:
      - fletchling-network
    restart: on-failure

  web:
    image: ${DOCKER_REGISTRY-}fletchling-web
    build:
      context: ./Web/fletchling.web
      dockerfile: Dockerfile
      target: prod
    environment:
      - NODE_ENV=production
      - PORT=80
    expose:
      - 80
    networks:
      - fletchling-network
    restart: on-failure

  reverse-proxy:
    build:
      context: ./ReverseProxy
      dockerfile: Dockerfile
    ports:
      - 80:80
      - 443:443
    networks:
      - fletchling-network
    depends_on:
      - web
      - api

networks:
  fletchling-network: {}