version: '3.4'

services:
  api:
    image: ${REGISTRY-}-api:${TAG:-latest}
    build:
      context: ./Api
      dockerfile: ./Fletchling.Api/Dockerfile
    networks:
      - fletchling-network
    restart: on-failure

  web:
    image: ${REGISTRY-}-web:${TAG:-latest}
    build:
      context: ./Web/fletchling.web
      dockerfile: Dockerfile
    networks:
      - fletchling-network
    restart: on-failure

  reverse-proxy:
    build:
      context: ./ReverseProxy
      dockerfile: Dockerfile
    networks:
      - fletchling-network
    depends_on:
      - web
      - api

  seq:
    image: datalust/seq:2020.1
    restart: unless-stopped
    networks:
      - fletchling-network

networks:
  fletchling-network: {}