name: Build and push Api image

on:
  push:
    branches:
      - master

env:
  SERVICE: api

jobs:
  BuildAndPushImage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create tag
        uses: actions/github-script@v5
        with:
          github-token: ${{ github.token }}
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/api-0.1.0",
              sha: context.sha
            })


      # - uses: ./.github/workflows/composite/build-push
      #   with:
      #     service: ${{ env.SERVICE }}
      #     registry_host: ${{ secrets.REGISTRY_HOST }}
      #     registry_endpoint: ${{ secrets.REGISTRY_ENDPOINT }}
      #     registry_username: ${{ secrets.REGISTRY_USERNAME }}
      #     registry_password: ${{ secrets.REGISTRY_PASSWORD }}
